spring:
  application:
    name: Mockker

  datasource:
    url: jdbc:postgresql://dpg-d4sfbskhg0os7384ace0-a.oregon-postgres.render.com:5432/mockker
    username: theprathamkhobragade
    password: gjLmiHcIGRh2mRjVWGuWsvmBvQJSRbkT

  jpa:
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: true
    properties:
     hibernate:
      dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: mailservice.softara@gmail.com
    password: dmqb stxx lkpf mcwa
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
server:
  port: 8080

